<table>
    <thead>
      <tr>
        <style>
          table, th, td {
            border-style: inset;
          }
          </style>
        <th>Dairy</th>
        <th>Price</th>
        <th>Image</th>
        <th>D-Mart</th>
        <th>Reliance Smart</th>
        <th>BigBasket</th>
        <th>Reasonable Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Epigamia Greek Yogurt</td>
        <td>Rs 30</td> 
        <td><img src="https://epigamiastore.com/cdn/shop/products/lifestyleimages2048px_GY_blueberry_b7242e27-ec4f-4ceb-ae25-bab31cc51da1.jpg?v=1672835973" alt="Yogurt" width="100" height="100"></td>
        <td>Rs 55</td>
        <td>Rs 35</td>
        <td>Rs 42</td>

        <button class="btn btn-primary" (click)="buy('Epigamia Greek Yogurt', 35)">Add to Cart</button>
      </tr>
      <tr>
        <td>AmulCheese</td>
        <td>Rs 135</td>
        <td><img src="https://gumlet.assettype.com/afaqs%2F2022-02%2F8c752404-4569-479d-bdc6-ca2fffab3159%2FUntitled_design__79_.png?w=1200&auto=format%2Ccompress&ogImage=true" alt="AmulCheese"width="150" height="100"></td>
        <td>Rs 120</td>
        <td>Rs 110</td>
        <td>Rs 98</td>

       
        <button class="btn btn-primary" (click)="buy('AmulCheese', 98)">Add to Cart</button>
      </tr>
      <tr>
        <td>Panner</td>
        <td>Rs 91 </td>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS676eMSY1PnoIZ9KKn9czgb_M1eIdtzGLZFQ&usqp=CAU" alt="Panner" width="100" height="100"></td>
        <td>Rs 41</td>
        <td>Rs 130</td>
        <td>Rs 75</td>

     
        <button class="btn btn-primary" (click)="buy('Panner', 41)">Add to Cart</button>
      </tr>
    </tbody>
  </table>

