<table>
    <thead>
      <tr>
        <style>
          table, th, td {
            border-style: inset;
          }
          </style>
        <th>Cosmetics</th>
        <th>Price</th>
        <th>Image</th>
        <th>D-Mart</th>
        <th>Reliance Smart</th>
        <th>BigBasket</th>
        <th>Reasonable Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lipstick</td>
        <td>Rs 500</td> 
        <td><img src="https://www.jiomart.com/images/product/original/940612/maybelline-new-york-color-sensational-creamy-matte-lipstick-696-burgundy-blush-3-9-gm-prod-940612-0-202302230707.jpg" alt="Lipstick" width="100" height="100"></td>
        <td>Rs 240</td>
        <td>Rs 300</td>
        <td>Rs 400</td>
       
        <button class="btn btn-primary" (click)="buy('Lipstick', 240)">Add to Cart</button>
      </tr>
      <tr>
        <td>Foundation</td>
        <td>Rs 400</td>
        <td><img src="https://media6.ppl-media.com/tr:h-750,w-750,c-at_max,dpr-2/static/img/product/344696/ny-bae-dewy-drops-liquid-foundation-cafe-au-lait-30-ml-93_7_display_1691650899_2a498153.jpg" alt="Foundation" width="100" height="100"></td>
        <td>Rs 350</td>
        <td>Rs 300</td>
        <td>Rs 200</td>

       
        <button class="btn btn-primary" (click)="buy('Foundation', 200)">Add to Cart</button>
      </tr>
      <tr>
        <td>EyeLiner</td>
        <td>Rs 120</td>
        <td><img src="https://images-static.nykaa.com/media/catalog/product/b/1/b14074e8906090491235_1.jpg" alt="EyeLiner" width="100" height="100"></td>
        <td>Rs 80</td>
        <td>Rs 200</td>
        <td>Rs 350</td>

        <button class="btn btn-primary" (click)="buy('EyeLiner', 80)">Add to Cart</button>
      </tr>
    </tbody>
  </table>
  

