<table>
    <thead>
      <tr>
        <style>
          table, th, td {
            border-style: inset;
          }
          </style>
        <th>Dals</th>
        <th>Price</th>
        <th>Image</th>
        <th>D-Mart</th>
        <th>Reliance Smart</th>
        <th>BigBasket</th>
        <th>Reasonable Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MoongDal</td>
        <td>Rs 160</td> 
        <td><img src="https://www.jiomart.com/images/product/original/491187297/good-life-chilka-moong-dal-500-g-product-images-o491187297-p491187297-1-202203170320.jpg" alt="MoongDal" width="100" height="100"></td>
        <td>Rs 209</td>
        <td>Rs 144</td>
        <td>Rs 104</td>

        <button class="btn btn-primary" (click)="buy('MoongDal', 104)">Add to Cart</button>
      </tr>
      <tr>
        <td>TurDal</td>
        <td>Rs 435</td>
        <td><img src="https://www.aashirvaad.com/img/nsfo/tur/tur_2.png" alt="TurDal"width="100" height="100"></td>
        <td>Rs 160</td>
        <td>Rs 203</td>
        <td>Rs 256</td>

        
        <button class="btn btn-primary" (click)="buy('TurDal', 160)">Add to Cart</button>
      </tr>
      <tr>
        <td>MasoorDal</td>
        <td>Rs 220 </td>
        <td><img src="https://m.media-amazon.com/images/I/71ci7K0ML+L._AC_UF1000,1000_QL80_.jpg" alt="MasoorDal" width="100" height="100"></td>
        <td>Rs 112</td>
        <td>Rs 130</td>
        <td>Rs 125</td>

        <button class="btn btn-primary" (click)="buy('MasoorDal', 112)">Add to Cart</button>
      </tr>
    </tbody>
  </table>

