<table>
    <thead>
      <tr>
        <th>Detergent</th>
        <th>Price</th>
        <th>Image</th>
        <th>D-Mart</th>
        <th>Reliance Smart</th>
        <th>BigBasket</th>
        <th>Reasonable Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <style>
          table, th, td {
            border-style: inset;
          }
          </style>
        <td>Lizol</td>
        <td>Rs 70</td> 
        <td><img src="https://www.penstack.com/pub/media/catalog/product/cache/0ee050c3ffc3555709b9bb6062f4d7e9/l/i/lizol-lavender-floor-disinfectant-surface-cleaner-500ml__02879.1425809801.500.750.jpg" alt="Lizol" width="100" height="100"></td>
        <td>Rs 63</td>
        <td>Rs 71</td>
        <td>Rs 69</td>
        
        <button class="btn btn-primary" (click)="buy('Mccain French Fries', 145)">Add to Cart</button>
      </tr>
      <tr>
        <td>Surf Excel Matic</td>
        <td>Rs 60</td>
        <td><img src="https://www.jiomart.com/images/product/original/492335284/surf-excel-matic-top-load-liquid-detergent-1-8-l-product-images-o492335284-p590340711-0-202306191759.jpg" alt="Surf Excel Matic" width="100" height="100"></td>
        <td>Rs 54</td>
        <td>Rs 64</td>
        <td>Rs 75</td>

        <button class="btn btn-primary" (click)="buy('Surf Excel Matic', 54)">Add to Cart</button>
      </tr>
      <tr>
        <td>Rin Soap</td>
        <td>Rs 59 </td>
        <td><img src="https://bachatkart.in/image/cache/catalog/product/soaps%20nd%20detergents/soaps/Rin-Detergent-Bar-4X250gm-700x700.jpg" alt="Rin Soap" width="100" height="100"></td>
        <td>Rs 49</td>
        <td>Rs 69</td>
        <td>Rs 54</td>

        <button class="btn btn-primary" (click)="buy('Rin Soap', 49)">Add to Cart</button>
      </tr>
    </tbody>
  </table>
  
